[Desktop Entry]
Encoding=UTF-8
Name=Link para file:///home/aluno/Documentos/%C4%BAp/main.html
Type=Link
URL=file:///home/aluno/Documentos/%C4%BAp/main.html
Icon=text-html
